.Container {
  margin: 0 auto;
  Main {
    padding: 0 12px;
    max-width: 1298px;
    margin: 0 auto;
  }
}
.Header {
  display: flex;
  flex-direction: column;
  .Title {
    font-size: 48px;
    margin: 40px 0 68px;
    font-weight: 900;
    line-height: 120%;
  }
  .SubTitle {
    align-self: flex-end;
    margin-bottom: 258px;
    width: 257px;
    font-size: 28px;
    line-height: 120%;
    font-weight: 900;
  }
}

.TermsSection {
  margin-bottom: 120px;
  h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 48px;
  }
  .Terms {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .Term {
    height: 150px;
    border-bottom: 1px solid #525252;
    h4 {
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 24px;
    }
  }
}

.QAsection {
  margin: 120px 0;
  h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 24px;
  }
  .Questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .Question {
      padding: 20px;
      font-size: 20px;
      font-weight: 900;
      border: 1px solid #525252;
      border-radius: 16px;
      line-height: 120%;
      &:has(.Checkbox:checked) {
        border: 1px solid white;
      }
      &:hover {
        border: 1px solid white;
        cursor: pointer;
      }
      .Checkbox {
        display: none;
        &:checked ~ label > .AddIcon {
          object-fit: none;
          height: 2px;
          transition: 0.3s;
        }
      }
      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .Content {
        &:hover {
          cursor: default;
        }
        height: 0;
        opacity: 0;
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
        padding-left: 44px;
        transition: 0.3s ease-in;
      }
      .Checkbox:checked ~ .Content {
        margin-top: 16px;
        height: auto;
        opacity: 1;
      }
    }
  }
}
@media screen and (min-width: 1298px) {
  .Header {
    .Title {
      font-size: 120px;
    }
    .SubTitle {
      width: 636px;
      font-size: 48px;
    }
  }
  .TermsSection {
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 32px;
      margin-bottom: 80px;
    }
    .Terms {
      gap: 40px;
    }
    .Term {
      width: 856px;
      height: auto;
      padding-bottom: 40px;
      h4 {
        font-size: 48px;
      }
      p {
        font-size: 32px;
      }
    }
  }
  .QAsection {
    margin: 160px 0;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 32px;
    }
    .Questions {
      .Question {
        width: 856px;
      }
    }
  }
}
