.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #525252 !important;
  opacity: 1 !important;
  vertical-align: middle !important;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  transition: width 0.5s !important;
  border-radius: 5px !important;
  background: white !important;
}
